.card {
    background-color: rgb(8, 32, 50);
    color: azure;
    font-size: 24px;
    margin: 1%;
    width: 450px;
}

h5 {
    font-size: 36px;
    color: azure;
}

body {
    background-color: rgb(27, 27, 27);
    margin: 2%;
}

.btn {
    font-size: 34px;
}

.navbar, .navbar-brand{
    font-size: 26px;
    background-color: rgb(26, 26, 64);
}

.dropdown-item {
    font-size: 26px;
}

.card-img-top {
    width: 450px;
    height: 360px;
}
.estadoServicios {
    background-color: rgb(8, 32, 50);
}
