.card {
    background-color: rgb(58, 58, 58);
    color: azure;
    font-size: 24px;
    margin: 1%;
}

h5 {
    font-size: 36px;
    color: azure;
}

body {
    background-color: rgb(27, 27, 27);
    margin: 2%;
}

.btn {
    font-size: 34px;
}

.navbar, .navbar-brand{
    font-size: 36px;
}

.dropdown-item {
    font-size: 26px;
}

.card-img-top {
    width: 500px;
    height: 360px;
}